/JavaApplication01/nbproject/private/
/JavaApplication01/build/
/JavaApplication02/nbproject/private/
/JavaApplication02/build/
/JavaApplication03/nbproject/private/
/JavaApplication03/build/
/JavaApplication05_a/nbproject/private/
/JavaApplication05_a/build/
/JavaApplication05_a/dist/
/JavaApplication05_b/nbproject/private/
/JavaApplication05_b/build/
/JavaApplication08/nbproject/private/
/JavaApplication08/build/
/ASM02/Q2/src/build/
/ASM02/Q2/src/dist/
/ASM02/Q2/src/nbproject/private/
/JavaApplication9/nbproject/private/
/JavaApplication9/build/
/JavaApplication10/nbproject/private/
/Workshop-5/nbproject/private/
/OrganizationManager/nbproject/private/
/OrganizationManager/build/
